@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    -webkit-tap-highlight-color: transparent;
}
:root{
    --primary-bg: #191919;
    --secundary-bg: #111;
    --btn-position-size: 70px;
    --btn-position-gap: 70px;
}
body{
    background-color: #191919;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
canvas {
    max-width: 85%;
    background-color: #111;
    transition: ease-in-out 0.6s;

}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}
.score--value{
    font-weight: 700;
    font-size: 4rem;
    display: block;
    margin-top: -10px;
}

.menu-screen{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: ease-in-out 0.5s;
    z-index: 10;
}
.menu-screen.show{
    opacity: 1;
    transform: scale(1);
}
canvas.blur{
    filter: blur(3px);
}
.game-over{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}
.final-score{
    font-weight: 500;
    font-size: 1.5rem;
}
.score-total{
    position: absolute;
    background: rgb(34, 34, 34);
    min-width: 350px;
    max-width: 90%;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: 1px 1px 3px 1px #33333394;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: scale(0);
    transition: ease-in-out 0.5s;
    z-index: 10;
}
.score-total h2{
    padding: 5px;
}
.score-total.show{
    opacity: 1;
    transform: scale(1);
}
.score-total-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 5px;
}
.score-total-info{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:5px;
    border-radius: 5px;
    box-shadow: 2px 1px 2px 2px #4242422c;
}
.score-total-ranking{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px;
    width: 40px;
    border-radius: 5px;
    background-color: rgb(255, 62, 62);
}
.score-total--value{
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(255, 153, 0);
    letter-spacing: 4px;
}
.score-total--date{
    font-weight: 200;
    font-size: 1rem;
}
.score-total-info div {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.btn-view-score-total{
    position: absolute;
    top: 0;
    right: 10px;
    text-transform: capitalize;
}
.btn-play,.btn-view-score-total{
    border: none;
    border-radius: 100px;
    color: black;
    padding: 10px 15px 10px 12px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 40px;
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
}
.icon{
    fill: #191919;
    color: #191919;
}
.mobile-controllers{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--btn-position-gap) - 50px);
}
.left-right{
    display: flex;
    align-items: center;
    gap:calc(var(--btn-position-gap) + 100px);
}
.btn-position {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--btn-position-size);
    height: var(--btn-position-size);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-position span {
    color: #191919;
    font-weight: 600;
    font-size: calc(var(--btn-position-size) - 10px);
}
.up span {
    transform: rotate(90deg);
}
.down span {
    transform: rotate(-90deg);
}






@media (max-width: 768px) {
    .mobile-controllers{
        display: flex;
    }
}
@media (max-height: 667px) {
    :root{
        --btn-position-size: 50px;
        --btn-position-gap: 20px;
    }


}